<doctype html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
	    <div class="site-title">
		    MH, FYI
	    </div>
    </header>
    <main>
	    {{ content | safe }}
    </main>
</body>
</html>