---
layout: base.njk
---

<article>
  <h2>
    {% if 'link' in tags %}
       <a href="{{ link_url }}">{{ title }} <span class="arrow">&rarr;</span></a>
    {% elseif 'til' in tags %}

    <abbr title="Today I learned">TIL</abbr> <a href="{{ url | url }}">{{ title }}</a>
    {% else %}
       <a href="{{ url | url }}">{{ title }}</a>
    {% endif %}
  </h2>
  {{ content | safe }}
  <p class="post-date">Originally written on <time datetime="{{ page.date | timestamp }}">{{ page.date | postDate }}</time></p>
</article>
