@layer normalize, mh;

@import "normalize.css" layer(normalize);

@layer mh {
  :root {
    --sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir,
      segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
      arial, sans-serif;
    --serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
      Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol;
    --mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

    --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
    --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    --step-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
    --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
    --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
    --step-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);
    --step-huge: clamp(3.05rem, calc(6.05rem + 1.85vw), 8rem);

    --base-bg: hsl(50, 45%, 87%);
    --body-text: hsl(330, 10%, 38%);
    --primary-accent: hsl(331, 84%, 72%);
    --secondary-accent: hsl(188, 93%, 42%);
    --secondary-accent-transparent: hsl(188, 93%, 37%, 10%);
    --primary-accent-transparent: hsl(331, 84%, 52%, 10%);

    --gradient-start: var(--primary-accent);
    --gradient-end: var(--secondary-accent);
    color-scheme: light dark;
  }

  header,
  article {
    display: grid;
    grid-template-columns: 1fr min(80%, 42rem) 1fr;
  }

  .site-title,
  article > :not(.full-bleed) {
    grid-column: 2;
  }

  .full-bleed {
    width: 100%;
    grid-column: 1 / 4;
  }

  body {
    box-shadow: inset 0px 5px 0 var(--primary-accent),
      inset 0px 10px 0px var(--secondary-accent);
    color: var(--body-text);
    font-family: var(--sans-serif);
    padding-block-start: 2rem;
  }

  a {
    color: var(--body-text);
    text-decoration-color: var(--primary-accent);
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }

  a:hover {
    text-decoration: none;
  }

  a:hover {
    background: linear-gradient(
      0.25turn,
      var(--gradient-start),
      var(--gradient-end)
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a:focus {
    outline: 2px dotted var(--secondary-accent);
  }

  h1 {
    font-size: var(--step-2);
  }

  .site-title {
    color: var(--primary-accent);
    font-size: var(--step-huge);
    font-style: normal;
    margin: 6rem 0;
    text-shadow: 3px 3px 0px var(--secondary-accent);
    transform: rotate(-3deg);

    svg {
      height: 10rem;
      vertical-align: top;
    }
  }

  h1:has(+ time) {
    margin-bottom: 0.335em;
  }

  h2 {
    color: #e1341e;
    font-size: var(--step-4);
    line-height: 3rem;

    :is(a) {
      color: var(--secondary-accent);
      text-decoration: none;

      :is(svg) {
        height: 2rem;
      }
    }

    a:hover svg {
      color: var(--primary-accent);
    }

    .arrow {
      font-size: 2rem;
    }
  }

  article h2:has(+ p, + blockquote) {
    margin-bottom: 0;
  }

  article {
    margin-bottom: 1.5em;

    :is(time) {
      margin-bottom: 0.5em;
    }

    :is(h3) {
      color: var(--primary-accent);
      margin: 0;
    }

    p:has(+ h3) {
      margin-bottom: 2em;
    }

    blockquote.pullquote {
      background: linear-gradient(
        0.25turn,
        var(--primary-accent),
        var(--primary-accent)
      );
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Work Sans", sans-serif;
      font-size: 1.4rem;
      font-weight: 600;
      position: relative;
    }

    blockquote.pullquote:before {
      -webkit-text-fill-color: var(--primary-accent);
      content: "\201C";
      font-size: 8rem;
      line-height: 0.1rem;
      position: absolute;
      top: 50%;
      left: -4rem;
    }
  }

  .subhed {
    color: gray;
    font-family: var(--sans-serif);
    font-size: var(--step-1);
    font-weight: 500;
  }

  main {
    font-size: var(--step-0);
    line-height: 1.4em;
  }

  .post-date {
    border: 1px solid;
    border-radius: 6px;
    font-weight: 100;
    font-size: var(--step-0);
    padding: 0.2em 0.4em;
  }

  abbr[title="Today I learned"] {
    background-color: var(--secondary-accent);
    border-radius: 0.12em;
    color: #fff;
    display: inline-block;
    font-size: 0.7em;
    padding: 0.05em 0.2em;
    text-decoration: none;
  }

  pre {
    background-color: #111;
    border-radius: 0.12em;
    box-shadow: 5px 5px 0 var(--primary-accent),
      10px 10px 0 var(--secondary-accent);
    color: #efefef;
    font-family: monospace;
    font-size: var(--step--1);
    overflow-x: auto;
    padding: 1rem;
  }
}
