---
title: About
layout: home.njk
description: A little about me. Matt. Hi.
---

	<article>
	  <h2>About Me</h2>
    <p>Hi 👋. It's me, Matt (he/him). I'm here to do good things with technology.</p>

		<h3>Paying the bills</h3>
		<p>Work-wise, I'm currently the engineering lead for the <a href="https://designsystem.digital.gov">U.S. Web Design System</a>.</p>
		<p>Before that, I was a consulting software engineer at 18F (<a href="/posts/18F">RIP</a>) for about five and a half years. I got to work on some incredible projects, like:</p>
		<ul>
			<li>IRS Direct File</li>
			<li>Administrative Office of the U.S. Courts, case management</li>
			<li>Federal Audit Clearinghouse</li>
			<li><a href="/posts/the-best-project-i-ever-worked-on">Cool thing at an unnamed agency</a></li>
		</ul>	
		<p>And a bunch more. It was an amazing job, with amazing people.</p>
		<p>I've also worked at a bunch of other techy jobs, from big internet companies to small internet companies; startups and agencies.</p>
		<p>I also happen to be a lawyer. I was a public defender for a couple of years, and have also worked in the Criminal Justice Reform space. Ending human caging is still very important to me.</p>
		<p>Skills-wise, I'm primarily a front-of-the-front-end guy, but I've worked up & down the stack, and just love to make stuff for the web.</p>
		<p>If you want to hire me, great news: you can! Find me on <a href="https://www.linkedin.com/in/heymatthenry/">LinkedIn</a> or <a href="https://github.com/heymatthenry">Github</a> or <a href="mailto:hey@matthenry.fyi">email me</a>.</p>

		<h3>Funsies</h3>
		<p>Outside of work, I like to lift weights (mostly olympic lifting), study languages (currently Irish and German), and be mediocre at several musical instruments (<a href="https://soundcloud.com/heymatthenry/">Soundcloud</a>).</p>
		<p>I've also got a smallish kid who is the literal best.</a>
	</article>
